.icon-ssik {
    display: flex;
    
    & > svg {
        top:unset;
        .btn & {
            top:unset;
        }
    }
    width: unset;
    height: unset;
    color: unset;

    &.xxs {
        width: .8rem;
        height: .8rem;
    }

    &.md {
        width: 3rem;
        height: 3rem;
    }
}

.icon-review {
    color: #FFC700;
}