{% block ssik_footer_before %}
    <div class="footer-before">
        {% block ssik_footer_before_inner %}
            <div class="container">
                footer-before
            </div>
        {% endblock %}
    </div>
{% endblock %}