
{% block ssik_header_info_col %}
    <div class="header-info-col">
        <div class="nav-main">
            {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
        </div>
    </div>  
{% endblock %}