{% block ssik_header_info_col %}
    <div class="header-info-col">
        <div class="header-after-logo"> 
           
            <div class="header-after-logo-content">
                <div class="header-after-logo-head">
                    {{ "ssik.header.afterlogo.head"|trans|sw_sanitize }}
                </div>
                <div class="header-after-logo-text">
                    {{ "ssik.header.afterlogo.text"|trans|sw_sanitize }}
                </div>
            </div>
        </div>
    </div>  
{% endblock %}