{% block ssik_layout_header_floating %}

    {% if ssik.config.headerStickyNav == 1 %}
        <div class="header-floating is-sticky" data-header-floating="true"></div>
    {% endif %}
    
{% endblock %}