{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_aside_actions %}
    <div class="ssik-cart-shipping-costs-container"></div>
    {{parent()}}
{% endblock %}