{% sw_extends '@Storefront/storefront/element/cms-element-image-slider.html.twig' %}


{% block element_image_slider_controls_items %}
    {% block element_image_slider_controls_items_arrows %}
        <button class="base-slider-controls-prev image-slider-controls-prev{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-prev-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-prev-inside{% endif %}" aria-label="prev">
            {% block element_image_slider_controls_items_prev_icon %}
                {% sw_icon 'arrow-head-left' %}
            {% endblock %}
        </button>
        <button class="base-slider-controls-next image-slider-controls-next{% if sliderConfig.navigationArrows.value == "outside" %} is-nav-next-outside{% elseif sliderConfig.navigationArrows.value == "inside" %} is-nav-next-inside{% endif %}" aria-label="next">
            {% block element_image_slider_controls_items_next_icon %}
                {% sw_icon 'arrow-head-right' %}
            {% endblock %}
        </button>
    {% endblock %}
{% endblock %}