<ul class="category-navigation level-{{level}}">
    {% for item in navigationTree %}

        {% set id = item.category.id %}
        {% set name = item.category.translated.name %}
        {% set link = category_url(item.category) %}

        <li class="category-navigation-entry {% if item.children|length > 0 %}is-dropdown{% endif %}">
            <a class="category-navigation-link" 
                href="{{ link }}" 
                {% if category_linknewtab(item.category) %} target="_blank"
                    {% if item.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
                {% endif %}
                title="{{ name }}"
                itemprop="url">
                <span itemprop="name">{{ name }}</span>
            </a>
            {% if ((item.category.id in activeResult.id) or (item.category.id in activeResult.path)) && item.children|length > 0 %}
                {% sw_include '@Storefront/storefront/ssik/navigation/catalog-only.html.twig' with {
                    navigationTree: item.children,
                    level: level + 1,
                    activeResult: activeResult
                } only %}
            {% endif %}
        </li>
    {% endfor %}
</ul>