{% sw_extends '@Storefront/storefront/layout/breadcrumb.html.twig' %}

{% block layout_breadcrumb_list_item %}
    {% if loop.index == 1 %}
        <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="{{ path('frontend.home.page') }}"
                   itemprop="url"
                   title="{{ "general.homeLink"|trans|striptags }}">
                   <span>{{ "general.homeLink"|trans|sw_sanitize }}</span>
                </a>
                <meta itemprop="position" content="0"/>
            </li> 
    {% endif %}
    {{parent()}}
{% endblock %}

{% block layout_breadcrumb_placeholder %}{% endblock %}